* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 25px;
    overflow: hidden;
}

.titles{

}
#title {
    position: sticky;
    margin: 0px;
    text-align: center;
    margin: -10px 0px 15px 0px;
}

#loginPage {
   
}
#containerLogin {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 80%;
    height: 85vh;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 25px;
    border-radius: 17px;
    margin-top: 50px;
    padding-top: -25px;
}
#inputName{
    width: 50%;
    padding: 5px;
    outline: none;
}


#mainPage {
    display: none;
    grid-template-columns: 79% 21%;
}


.container {
    border: 1px solid black;
    height: 570px;
    width: 100%;

    text-align: center;
    padding: 10px;
    overflow-y: scroll;
}

#containerChat {
    background-color: grey;
}

#containerUsersList{
    background-color: rgb(170, 166, 166);
}

#messages {
    list-style: none;
    text-align: left;
    margin: 20px;
}
#userList {
    list-style: none;
    text-align: left;
    margin: 20px;
}
#inputText {
    position: fixed;

    width: 70%;
    margin: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    right: 150px;
    left: -150px;
    bottom: 50px;
    padding: 5px;
}

li {
    padding:3px;
    color: white;
}

.messages li.m-status {
    color: #333;
    font-style: italic;
}
.messages li.m-txt span {
    font-weight: bold;
    color: #0000FF;
}
.messages li.m-txt span.me {
    color: #FF0000;
}